<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3e1ad6f28bf54bf9a2c61a2748b26376 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_3e1ad6f28bf54bf9a2c61a2748b26376" ></div>
        
</body>
<script>    
    
            var map_3e1ad6f28bf54bf9a2c61a2748b26376 = L.map(
                "map_3e1ad6f28bf54bf9a2c61a2748b26376",
                {
                    center: [37.2601424748801, 126.963891446527],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9affa0963e004e34bab9712c8438bd57 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3e1ad6f28bf54bf9a2c61a2748b26376);
        
    
            var marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977 = L.markerClusterGroup(
                {}
            );
            map_3e1ad6f28bf54bf9a2c61a2748b26376.addLayer(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var marker_85414ad8b1264ee3b67cc6f723c314af = L.marker(
                [37.2601424748801, 126.963891446527],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_23539aa3e3144a33a97e3ae70eba9f7a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "car", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_85414ad8b1264ee3b67cc6f723c314af.setIcon(icon_23539aa3e3144a33a97e3ae70eba9f7a);
        
    
            marker_85414ad8b1264ee3b67cc6f723c314af.bindTooltip(
                `<div>
                     출발지
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f30129600a4645898cce6dc4f45b5c92 = L.marker(
                [37.260131, 126.961909],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_67832c6b77294ac0bc814b27304f0dae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "1", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f30129600a4645898cce6dc4f45b5c92.setIcon(icon_67832c6b77294ac0bc814b27304f0dae);
        
    
            marker_f30129600a4645898cce6dc4f45b5c92.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실스위첸</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총7개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 7개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c7ea8f25f42141d1923a5f97ae2f4c72 = L.marker(
                [37.25796515, 126.96435004],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_2ded29bf14094c1b9525efb9f244d2fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "2", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c7ea8f25f42141d1923a5f97ae2f4c72.setIcon(icon_2ded29bf14094c1b9525efb9f244d2fe);
        
    
            marker_c7ea8f25f42141d1923a5f97ae2f4c72.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">휴세스</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총1개</br>충전소 위치 구분 :기타</br>주차장 이용 :Y</br>AC완속 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0bbaaf79c7c9482cac7443148d6e87f9 = L.marker(
                [37.2579784, 126.9647661],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_9e5f91ccb39f42d3991f36df6c36f45b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "3", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_0bbaaf79c7c9482cac7443148d6e87f9.setIcon(icon_9e5f91ccb39f42d3991f36df6c36f45b);
        
    
            marker_0bbaaf79c7c9482cac7443148d6e87f9.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원 중앙식자재마트</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총2개</br>충전소 위치 구분 :마트(쇼핑몰)</br>주차장 이용 :Y</br>AC완속 : 2개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_91aecc1d7081407c91173fa671e2c5c2 = L.marker(
                [37.257909772, 126.96074991],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_77bb43ca689c4f5ea3f5665bc34b4965 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "4", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_91aecc1d7081407c91173fa671e2c5c2.setIcon(icon_77bb43ca689c4f5ea3f5665bc34b4965);
        
    
            marker_91aecc1d7081407c91173fa671e2c5c2.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실엔루체 입주자대표회의</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총5개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 5개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4e940ba6de2441a0a3a68b923b4dda5d = L.marker(
                [37.2579075965, 126.9692391402],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_7bc274835c4244afab154d8f9007503e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "5", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_4e940ba6de2441a0a3a68b923b4dda5d.setIcon(icon_7bc274835c4244afab154d8f9007503e);
        
    
            marker_4e940ba6de2441a0a3a68b923b4dda5d.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">서수원지사</font></strong> (이용시간 : 주중/주말 : 06시~23시)</br>충전기 총6개</br>충전소 위치 구분 :공공기관</br>주차장 이용 :Y</br>AC완속 : 4개</br>DC차데모+AC3상+DC콤보 : 2개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3a792a289bb344eebc5597b9130d943b = L.marker(
                [37.258274721, 126.97009966],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_4610141211b141ce9006caed1260cfba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "6", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3a792a289bb344eebc5597b9130d943b.setIcon(icon_4610141211b141ce9006caed1260cfba);
        
    
            marker_3a792a289bb344eebc5597b9130d943b.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">서수원우체국</font></strong> (이용시간 : 09:00~18:00)</br>충전기 총3개</br>충전소 위치 구분 :관공서</br>주차장 이용 :N</br>AC완속 : 3개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_038bd03374a647db9e0e5a6b62d37a7d = L.marker(
                [37.254957462, 126.96144818],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_847f608045874e219ad5b7465286a45f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "7", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_038bd03374a647db9e0e5a6b62d37a7d.setIcon(icon_847f608045874e219ad5b7465286a45f);
        
    
            marker_038bd03374a647db9e0e5a6b62d37a7d.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">경기수원 능실마을21단지2</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총3개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 3개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca0de7e3d233462284898474db19bda7 = L.marker(
                [37.254957462, 126.96144818],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_666fc0e9e2cd41158a7e8446740ee8db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "8", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ca0de7e3d233462284898474db19bda7.setIcon(icon_666fc0e9e2cd41158a7e8446740ee8db);
        
    
            marker_ca0de7e3d233462284898474db19bda7.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">경기수원 능실마을21단지3</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총3개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 3개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f8c5382feb6443c892b3e95fb776883 = L.marker(
                [37.263168732, 126.95668682],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_a1c9b6b4aa7a4c558e08864027a68b33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "9", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5f8c5382feb6443c892b3e95fb776883.setIcon(icon_a1c9b6b4aa7a4c558e08864027a68b33);
        
    
            marker_5f8c5382feb6443c892b3e95fb776883.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실장애인종합복지관</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총2개</br>충전소 위치 구분 :복지관</br>주차장 이용 :Y</br>DC콤보 : 2개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_03d11e3a00f84929ac47329aef4df250 = L.marker(
                [37.25706, 126.971317],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_28c60442c7ab4fca94243f3c4c561416 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_03d11e3a00f84929ac47329aef4df250.setIcon(icon_28c60442c7ab4fca94243f3c4c561416);
        
    
            marker_03d11e3a00f84929ac47329aef4df250.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">권선구청</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총3개</br>충전소 위치 구분 :관공서</br>주차장 이용 :N</br>DC콤보 : 2개</br>DC차데모+DC콤보 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9ad02fa365704374871152dae19b5a9c = L.marker(
                [37.2586001, 126.9722286],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_c587c3d4d6c8480a984c11644195a1d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9ad02fa365704374871152dae19b5a9c.setIcon(icon_c587c3d4d6c8480a984c11644195a1d8);
        
    
            marker_9ad02fa365704374871152dae19b5a9c.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원서부경찰서</font></strong> (이용시간 : 09:00~18:00)</br>충전기 총1개</br>충전소 위치 구분 :경찰서</br>주차장 이용 :Y</br>DC차데모+AC3상+DC콤보 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b2a58e6732074087b4087ba5700cd2c6 = L.marker(
                [37.2595285133, 126.9549759949],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_c0737d1d6bf44f6da472860d9efc5cdf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b2a58e6732074087b4087ba5700cd2c6.setIcon(icon_c0737d1d6bf44f6da472860d9efc5cdf);
        
    
            marker_b2a58e6732074087b4087ba5700cd2c6.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실 휴먼시아 16단지</font></strong> (이용시간 : 24시간 이용가능,입주민만 사용가능 거주자외출입제한)</br>충전기 총2개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 2개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bdbd3c533b6f4993a314b297441a59b5 = L.marker(
                [37.252705444, 126.96330727],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_43dd2acb516e497599d60fd2ef4ee769 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_bdbd3c533b6f4993a314b297441a59b5.setIcon(icon_43dd2acb516e497599d60fd2ef4ee769);
        
    
            marker_bdbd3c533b6f4993a314b297441a59b5.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원여자대학인제캠퍼스</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총3개</br>충전소 위치 구분 :학교</br>주차장 이용 :Y</br>AC완속 : 3개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dc9c2576245849b7b6a322d2ddd5b5e5 = L.marker(
                [37.256717, 126.972238],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_2943e6cdbeb5436780edd7358eaf45ea = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_dc9c2576245849b7b6a322d2ddd5b5e5.setIcon(icon_2943e6cdbeb5436780edd7358eaf45ea);
        
    
            marker_dc9c2576245849b7b6a322d2ddd5b5e5.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">권선구청</font></strong> (이용시간 : 평일 09시~18시)</br>충전기 총2개</br>충전소 위치 구분 :관공서</br>주차장 이용 :N</br>AC완속 : 2개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1ef3aa9097ae4a57813e4dcf4404e851 = L.marker(
                [37.252734, 126.962319],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_781c70beda9e41c0add3b1f298e9aee1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1ef3aa9097ae4a57813e4dcf4404e851.setIcon(icon_781c70beda9e41c0add3b1f298e9aee1);
        
    
            marker_1ef3aa9097ae4a57813e4dcf4404e851.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원여자대학교 인제캠퍼스</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총2개</br>충전소 위치 구분 :학교</br>주차장 이용 :Y</br>AC완속 : 1개</br>DC차데모+AC3상+DC콤보 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_09c9a0cdf8f44f1aa199f901e761b588 = L.marker(
                [37.2664124, 126.9579291],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_0970d327a94a4092bf335aa7d1c6e217 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_09c9a0cdf8f44f1aa199f901e761b588.setIcon(icon_0970d327a94a4092bf335aa7d1c6e217);
        
    
            marker_09c9a0cdf8f44f1aa199f901e761b588.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실도서관</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총1개</br>충전소 위치 구분 :지자체시설</br>주차장 이용 :N</br>DC콤보 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6cac911461ff454986ea38fb7788fec0 = L.marker(
                [37.2537863, 126.9576903],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_4e1a705600d14aa0ae8b16eb255404d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6cac911461ff454986ea38fb7788fec0.setIcon(icon_4e1a705600d14aa0ae8b16eb255404d1);
        
    
            marker_6cac911461ff454986ea38fb7788fec0.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">경기수원 능실마을21단지1</font></strong> (이용시간 : 24시간 이용가능,입주민만 사용가능 거주자외출입제한)</br>충전기 총3개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 3개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e3fdd1d2de804a87a5f20fb7ede4a17c = L.marker(
                [37.2662294328, 126.957046405],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_a845af912548471187c608dc59e7aa28 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e3fdd1d2de804a87a5f20fb7ede4a17c.setIcon(icon_a845af912548471187c608dc59e7aa28);
        
    
            marker_e3fdd1d2de804a87a5f20fb7ede4a17c.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원시 호매실동 행정복지센터</font></strong> (이용시간 : 24시간)</br>충전기 총1개</br>충전소 위치 구분 :주민센터</br>주차장 이용 :Y</br>AC완속 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5d9ff381b12246718b803549f4b9270c = L.marker(
                [37.266802546, 126.95718858],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_b440208bd09a4b96bd303b968f5e5f9c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_5d9ff381b12246718b803549f4b9270c.setIcon(icon_b440208bd09a4b96bd303b968f5e5f9c);
        
    
            marker_5d9ff381b12246718b803549f4b9270c.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원 진로마트 호매실점 급속충전소</font></strong> (이용시간 : 24시간 이용가능/시설 상황에 따라 이용이 제한될 수)</br>충전기 총2개</br>충전소 위치 구분 :마트(쇼핑몰)</br>주차장 이용 :N</br>DC콤보 : 2개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38f61c19c8b84bb8bd35d0966e394bc7 = L.marker(
                [37.26832757, 126.9584703],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_3343aa78447b4d55be3b92cfbc4b20ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_38f61c19c8b84bb8bd35d0966e394bc7.setIcon(icon_3343aa78447b4d55be3b92cfbc4b20ca);
        
    
            marker_38f61c19c8b84bb8bd35d0966e394bc7.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원시 호매실GS아파트</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총9개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 9개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f3e5f582d4254cb1909e014a49d06953 = L.marker(
                [37.2601436591, 126.9520040656],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_a16cb85b3d9e4d9db817af57ce5a9730 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f3e5f582d4254cb1909e014a49d06953.setIcon(icon_a16cb85b3d9e4d9db817af57ce5a9730);
        
    
            marker_f3e5f582d4254cb1909e014a49d06953.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실 휴먼시아 15단지</font></strong> (이용시간 : 24시간 이용가능,입주민만 사용가능 거주자외출입제한)</br>충전기 총5개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 5개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_24aaccd46470435f90b82bb90c77e62b = L.marker(
                [37.268928167, 126.95786958],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_fbaf77c81e8c47e094530c893a263773 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_24aaccd46470435f90b82bb90c77e62b.setIcon(icon_fbaf77c81e8c47e094530c893a263773);
        
    
            marker_24aaccd46470435f90b82bb90c77e62b.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원시 삼익2차아파트</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총7개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 7개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b5dcd863487446069748f75f3fa4a9fe = L.marker(
                [37.269327071, 126.95679707],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_24f04c9c238d477baeffedca25d24e14 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b5dcd863487446069748f75f3fa4a9fe.setIcon(icon_24f04c9c238d477baeffedca25d24e14);
        
    
            marker_b5dcd863487446069748f75f3fa4a9fe.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">금곡삼익1차아파트</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총7개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 7개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e95d8be89e844789ba1b5d7a6eedb8cd = L.marker(
                [37.267845, 126.974309],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_9619d763fa774fef86d955abc70e9641 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e95d8be89e844789ba1b5d7a6eedb8cd.setIcon(icon_9619d763fa774fef86d955abc70e9641);
        
    
            marker_e95d8be89e844789ba1b5d7a6eedb8cd.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원탑동우방파크타운</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총2개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 2개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a2f2df6ac34a4cd2955a3b56d8c3defe = L.marker(
                [37.2657949, 126.9504304],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_d1200bfde2fe4dbeae22eebdb21bc1ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a2f2df6ac34a4cd2955a3b56d8c3defe.setIcon(icon_d1200bfde2fe4dbeae22eebdb21bc1ed);
        
    
            marker_a2f2df6ac34a4cd2955a3b56d8c3defe.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">호매실한양수자인파크원입주자대표회의</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총35개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 35개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c3d03c54208b46778311599827210902 = L.marker(
                [37.2681696, 126.9523783],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_2088bae30e0948748badbe418e192f73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c3d03c54208b46778311599827210902.setIcon(icon_2088bae30e0948748badbe418e192f73);
        
    
            marker_c3d03c54208b46778311599827210902.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원호매실동쌍용</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총3개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 3개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e4c80500d7934e248630c2738567bc9c = L.marker(
                [37.247724109683, 126.9633011288],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_9fe49f12e17140589bab4c9b45201abc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e4c80500d7934e248630c2738567bc9c.setIcon(icon_9fe49f12e17140589bab4c9b45201abc);
        
    
            marker_e4c80500d7934e248630c2738567bc9c.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">경기수원 서희스타힐스107동</font></strong> (이용시간 : 24시간 이용가능,입주민만 사용가능 거주자외출입제한)</br>충전기 총3개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 3개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_48e4aca53e8541d4ba4d205672ceec8b = L.marker(
                [37.270351, 126.954654],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_44dcf44cd6964b9ea8663001fdce6f78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_48e4aca53e8541d4ba4d205672ceec8b.setIcon(icon_44dcf44cd6964b9ea8663001fdce6f78);
        
    
            marker_48e4aca53e8541d4ba4d205672ceec8b.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">일신건영아파트</font></strong> (이용시간 : 주중/주말 : 00시~24시)</br>충전기 총2개</br>충전소 위치 구분 :아파트</br>주차장 이용 :Y</br>AC완속 : 2개</br>사용불가
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3939c6be9c3e48a9ac31c97e2ee01c0e = L.marker(
                [37.2522297, 126.9761954],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_38e3c16528d242c28d4012e9f0b26577 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_3939c6be9c3e48a9ac31c97e2ee01c0e.setIcon(icon_38e3c16528d242c28d4012e9f0b26577);
        
    
            marker_3939c6be9c3e48a9ac31c97e2ee01c0e.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">도로교통관리사업소</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총2개</br>충전소 위치 구분 :공공기관</br>주차장 이용 :Y</br>DC콤보 : 2개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b81e2bae00524a96b1719574f6036543 = L.marker(
                [37.27131412, 126.9556278],
                {}
            ).addTo(marker_cluster_8a7ad5d33bdd4eeebe98feee1987b977);
        
    
            var icon_f94e33566a0046948b53000ebdce2ab6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bolt", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b81e2bae00524a96b1719574f6036543.setIcon(icon_f94e33566a0046948b53000ebdce2ab6);
        
    
            marker_b81e2bae00524a96b1719574f6036543.bindTooltip(
                `<div>
                     <strong><font style="color:blue" size="4">수원 제일마켓호매실점</font></strong> (이용시간 : 24시간 이용가능)</br>충전기 총1개</br>충전소 위치 구분 :마트(쇼핑몰)</br>주차장 이용 :N</br>AC완속 : 1개</br>사용가능
                 </div>`,
                {"sticky": true}
            );
        
</script>